# === QA Automation Project Dependencies ===
playwright==1.49.0
pytest==8.4.2
pytest-base-url==2.1.0
pytest-playwright==0.7.1

# === Optional tools ===
pytest-html==4.1.1
pytest-xdist==3.6.1
pillow==10.4.0
